/* Telechargement de l'ecriture */
@font-face {
    font-family: "Roboto Regular";
    src: url(../les_villes/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Bold";
    src: url(../les_villes/Roboto/Roboto-Bold.ttf);
}

body{
    font-family: "Roboto Regular";
    margin: 0;
}
/* Mise en place du Header */
header{
    background-color: rgb(150, 150, 128);
    display: flex;
   flex-direction: row;
   justify-content: flex-end;
    color : aliceblue;
}
.NY_marge{
    margin-right: 10%;
}

header p{
    margin: 1%;
}
/* Mise en place de body */
main{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 20px;
    
    
}
section{
    width: 25%;
    margin: 2%;
    border: solid 1px;
    box-shadow:20px 16px 13px -3px rgba(0,0,0,0.47);
    position: relative;
    height: 500px;
    
}


/*  */
.imgParis{
    background-image: url(paris.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.imgTokyo{
    background-image: url(tokyo.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.imgNY{
    background-image: url(new-york.jpeg);
    height: 300px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.btn{
    padding: 5px 0px;
    margin-bottom: 0%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    }

.btn_paris{
    background: purple;}

.btn_tokyo{
    background: orangered;

}

.btn_NY{
    background: blue;
}


p{
    margin: 4%;
}
h2{
    margin: 4%;
}
a{
    text-decoration: none;
    color: white;
}
.btn.btn_paris:hover{
    color: blue;
    background-color: blueviolet;
}
.btn.btn_tokyo:hover{
    background-color: orange;
    color: black;
}
.btn.btn_NY:hover{
    background-color: aqua;
}

@media  screen and (max-width:600px){
    main{ flex-direction: column;
    }

    section{
        height: auto;
        width: auto;
    }


}
